env/*
low_res/*
videos/*
*.log
*.csv
*.ipynb
*.png
env/*
*.mp4
*.gif
GPU_version/*
visualisation/*
svm_model.joblib
demo/*
*.ipynb_checkpoints
validation/*
*.xlsx
RainNet/datasets/*
RainNet/train.h5
RainNet/logs/*
RainGAN/datasets/*
RainGAN/logs/*
*.h5
c++_files/*
presentation/*
*.pth
*.rar
*.zip
